.inno_fluid {
    background-color: #D9D9D9;
    padding: 50px 25px;
}
.inno_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.inno_text_wrapper{
    width: 45%;
}
.inno_text_para{
    margin-top: 2rem;
}
.team_img{
    width: 75%;
}